body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.banner {
  width: 1280px;
  margin: 0;
  padding: 10px;
  margin: auto;
  background-color: white;
  transform: translateY(100px);
}
